html {
  font-size: 10px;
  background: url(http://i.imgur.com/b9r5sEL.jpg) bottom center;
  background-size: cover;
  scroll-behavior: smooth;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* .keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
} */

.keyboardRows {
  display: flex;
  flex: 1;
  /* min-height: 100vh; */
  align-items: center;
  justify-content: center;
}

.key {
  border: 0.4rem solid black;
  border-radius: 0.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #ffc600;
}

/* keyboard layout 2.0 */
.keyboard2 {
  margin: 30px auto;
  width: 90%;
  height: 400px;
  background: #bbb;
  padding: 30px 80px;
  border-radius: 10px;
  border-bottom: 6px solid #999;
}

.key-row2 {
  display: flex;
  margin: 0 auto 7px;
  line-height: 50px;
}

.key2,
.arrowkey-container2 {
  margin: 0 6px 0 0;
  text-align: center;
}

.key2 {
  background: #444;
  color: #eee;
  border-radius: 4px;
  box-shadow: 0 1px 0 #222, inset 0 1px 3px rgba(255, 255, 255, 0.1);
  transition: 0.1s;
  align-items: center;
  align-content: center;
  height: 57px;
  border: 2px solid rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

sup,
sub {
  outline: 1px solid magenta;
  display: block;
  align-self: center;
}

.key2:active {
  transform: translateY(1px);
  background: #333;
  box-shadow: 0 1px 0 #000;
}

.one {
  flex: 1;
}
/* one */
.one-one-half {
  flex: 1.5;
}
/* One and one half */
.two {
  flex: 2;
}
/* two */
.two-two-half {
  flex: 2.5;
}
/* Two and two half */
.three {
  flex: 3;
}
/* three */
.five {
  flex: 5;
}

.key-row2 .key2:last-child {
  margin: 0;
}

.l {
  text-align: left;
  padding-left: 12px;
}
.r {
  text-align: right;
  padding-right: 12px;
}
